
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./views/templates/css/style.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Judson" />
    
    <title>La conjugaison | {% block title %} {% endblock %}</title>
</head>

<body>
    {% block header %} 
        <header>
            <nav class="nav-user">
                <a href="/" class="">
                    <img src="./views/templates/images/retour.png" alt="Retour" class="retour">
                </a>
                <div class="outilTitre"><h1>Conjugaison<h1></div>
                <ul class="nav-menu">
                    <li>CDI</li>
                </ul>
            </nav>
        </header>
    {% endblock %}
    
    <section class="PageAdmin">
        <section class="BlockIdentification">
            <h2>Votre espace:</h2>
        </section>
        <section class="BlocAfficher">
            <h2>Phrases:</h2>
            
            <div class="Update">
                <ul id="listphrase"></ul>
            </div>

            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>toute suppression est définitive...</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeBtn">Annuler</button>
                            <button type="button" class="btn btn-danger" id="deletePhrase">Supprimer la phrase</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    {% block footer %}
    <footer>
        <img src="./views/templates/images/Rectangle 120.png" alt="Retour" class="retour">
    </footer>
    {% endblock %}
    <script src="./views/templates/js/Admin.js"></script>
</body>
</html>