{% extends 'BaseTemplate.twig' %}

{% block content1 %}
<body>
    <section class="Lancer" id="Lancer">
        <h1>Bienvenue</h1>
        <form action="./Phrase" method="POST" class="form_temps" id="form_temps"> 
            <div class="Choix_phrases" id="Choix_phrases">

                <div id="selectreseau" class="select selectecole" >
                    <label for="conju_classe" >Phrase du réseau</label>
                    <input type="radio" name="conju_classe" value="1"></input>
                </div>

                <div id="selectecole" class="select selectecole">
                    <label for="conju_classe" >Phrase de l'école</label>
                    <input type="radio" name="conju_classe" value="2"></input>
                </div>

            </div>

            <div class="Choix_temps" id="Choix_temps">
                <div class="tps0" id="tps0">
                    <div class="temps">
                        {% set dataLength = conju_temps|length %}
                        {% for i in 0..3 %}
                        <div class="conju_tps">
                            <label for="conju-temps" class="">{{ conju_temps[i].conju_temps }}</label>
                            <input type="radio" name="conju_temps" value="{{ conju_temps[i].conju_temps }}" class="input">
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <input type="submit" name="submit" value="C'est parti" id="Commencer" class="submit-Commencer">
            </div>

        </form>
    </section>

    <script src="./views/templates/js/main.js"></script>
</body>
{% endblock %}