{% extends 'BaseTemplate.twig' %}

{% block content1 %}
<body>
    <section class="Lancer">
        <h1>Bienvenue</h1>
        
        <form action="./Jeu" method="POST" class="form_temps" id="form_temps"> 

            <div class="Choix_phrases" id="Choix_phrases">

                <div id="selectreseau" class="select selectecole" >
                    <label for="" >Phrase du réseau</label>
                    <input type="radio" name="" value=""></input>
                </div>

                <div id="selectecole" class="select selectecole">
                    <label for="" >Phrase de l'école</label>
                    <input type="radio" name="" value=""></input>
                </div>

            </div>
            

            <div class="Choix_temps" id="Choix_temps">
                <div class="tps0" id="tps0">
                    <div class="temps">
                        <div class="conju_tps">
                            <label for="conju-temps" class="">Imparfait</label>
                            <input type="radio" name="conju_temps" value="Imparfait" class="input">
                        </div>
                        <div class="conju_tps">
                            <label for="conju-temps" class="">Passé Composé</label>
                            <input type="radio" name="conju_temps" value="Passé Composé" class="input">
                        </div>
                        <div class="conju_tps">
                            <label for="conju-temps" class="">Présent</label>
                            <input type="radio" name="conju_temps" value="Présent" class="input">
                        </div>
                        <div class="conju_tps">
                            <label for="conju-temps" class="">Futur</label>
                            <input type="radio" name="conju_temps" value="Futur" class="input">
                        </div>
                    </div>

                    <input type="submit" name="submit" value="C'est parti" id="" class="submit-Commencer">
                </div>
            </div>

        </form>
    </section>
</body>
{% endblock %}